      .beckmanquote {
        font-size: 16px;
        font-style: italic;
        color: #aaa;
        padding-top: 1ex;
        height: 8ex;
      }

      .header {
        margin-top: 1ex;
      }

      .intro {
        margin-bottom: 2ex;
      }

      .beckman {
        clear: both;
        overflow: auto;
        border: 2px solid #aaa;
        border-radius: 10px;
        margin-bottom: 3ex;
      }

      .beckman img {
        border: 1px solid;
      }

      .twittername {
        font-size: 18px;
        font-weight: bold;
      }

      .twitterhandle {
        font-size: 16px;
        color: #aaa;
        padding-left: 1ex;
      }

      .footer {
        padding-top: 1ex;
        text-align: right;
        font-style: italic;
        color: #aaa;
      }


      .stats a {
        color: #aaa;
      }
      .stats a strong {
        display: block;
        color: black;
      }

      ul.stats {
        border-top: 1px solid rgba(0,0,0,0.1);
      }
      li.stat-count {
        list-style: none;
        float: left;
        margin-right: 2ex;
        padding-right: 2ex;
        padding-bottom: 1ex;
        padding-top: 1ex;
        border-right: 1px solid rgba(0,0,0,0.1);
      }

      img.pretty{
        -webkit-box-shadow: 0px 0px 10px 0px #4d4d4d;
        -moz-box-shadow: 0px 0px 10px 0px #4d4d4d;
        box-shadow: 0px 0px 10px 0px #4d4d4d;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -khtml-border-radius: 8px;  
        border-radius: 8px;
        border:solid white 3px;
        margin-top: 2ex;
        margin-bottom: 2ex;
      }